.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 95px;
    height: 30px;
    border-radius: 10px;
    background-color: #2ee5ac;
    border: 0;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
}

.dark {
    background-color: #7d7d7d;
}

.text {
    width: unset;
    height: unset;
    border-radius: unset;
    background-color: unset;
    font-family: Roboto;
    line-height: unset;
    text-align: left;
    font-weight: 500;
    font-size: 11px;
    color: #999999;
    padding: 0;
}

.back {
    width: unset;
    height: unset;
    display: inline-flex;
    background-color: unset;
    color: #222222;
    font-family: Nunito;
    font-weight: 700;
    font-size: 18px;
}
