.table {
    width: 100%;
    table-layout: fixed;
}

.table_column-title {
    text-align: left;
    padding: 15px;
    font-weight: 500;
    font-size: 11px;
    color: #999999;
}

.table_column-title_name {
    width: 41%;
}

.table_column-title_type {
    width: 11%;
}

.asc,
.desc {
    position: relative;
    padding-right: 15px;
}

.asc::before,
.desc::before {
    content: '';
    background: url('../../shared/assets/icons/ChevronDown.svg');
    display: block;
    position: absolute;
    width: 7px;
    height: 4px;
    rotate: 180deg;
    top: calc(50% - 2px);
    right: 0;
    transform-origin: 50% 50%;
}

.desc::before {
    rotate: 0deg;
}

.table_column-title_status {
    width: 7%;
}

.table_column-title_action {
    width: 95px;
}

.table_icon {
    margin-left: 8px;
    color: #999999;
}
