html {
    background-color: #fafafa;
}

body,
ul,
h2,
h3 {
    margin: 0;
}

ul,
td {
    padding: 0;
}

table {
    border-spacing: 0 2.5px;
}

.app {
    box-sizing: border-box;
    min-height: 100dvh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
