@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('../fonts/nunito.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat.ttf');
}

* {
    font-family: Roboto;
    text-wrap: pretty;
}
